{% import "_includes/forms" as forms %}

<h2>{{ "Settings"|t('site') }}</h2>

{{ forms.textField({
    label: "Callback Url Path"|t('patron'),
    instructions: "A vanity callback url path. (Ex: oauth/callback): "|t('patron'),
    class: "code",
    id: 'callbackUrlPath',
    name: 'callbackUrlPath',
    value: settings.callbackUrlPath,
    errors: settings.getErrors('callbackUrlPath'),
    autofocus: true,
}) }}

<hr/>

<div class="readable">
    <h2>General Info</h2>
    <table class="data fullwidth fixed-layout">
        <tbody>
        <tr>
            <th class="light">Callback Url</th>
            <td>{{ settings.callbackUrl }}</td>
        </tr>
        </tbody>
    </table>
</div>